{% extends "base.html" %}
{% block title %}Login Page{% endblock  %}
{% block content %}
    {% with messages=get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% else %}
        {% endif %}
    {% endwith %}
    <h1 align="center">Login</h1>
    <div align="center">
        <form>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="john@doe.com">
            <div id="email_hint" class="form-text"></div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

 {% include "blueprintinfo.html" %}
{% endblock%}