{% extends "base.html" %}
{% block title %}Sign Up{% endblock  %}
{% block content %}
   <h1 align="center">Sign Up</h1>
    <div align="center">
        <form>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="john@doe.com">
            <div id="email_hint" class="form-text"></div>
        </div>
        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="firstName" class="form-control" id="firstName">
        </div>
         <div class="mb-3">
            <label for="password1" class="form-label">Ebter a Password</label>
            <input type="password1" class="form-control" id="password1">
        </div>
         <div class="mb-3">
            <label for="password2" class="form-label">Confirm Password</label>
            <input type="password2" class="form-control" id="password2">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% include "blueprintinfo.html" %}
{% endblock %}